:root {
  --primary:#2175f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #efefef;
}

.shoe {
  position: absolute;
  width: 140%;
  opacity: 0;
  bottom: 0;
  right: 0;
  transform: rotate(-20deg);
}

.show {
  opacity: 1;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}
.container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
}
.container .card .info {
  width: 50%;
  background-color: #fff;
  height: 525px;
  z-index: 1;
  padding: 35px 40px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1), 0 15px 35px rgba(0, 0, 0, 0.1);
}
.container .card .info .color-container {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.container .card .info .color-container .color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  cursor: pointer;
  transition: 0.5s;
}
.container .card .info .color-container .color[color=blue] {
  background: linear-gradient(to left, #fff 50%, #2175f5 50%);
  border-color: #2175f5;
}
.container .card .info .color-container .color[color=black] {
  background: linear-gradient(to left, #ba0e0e 50%, #030b17 50%);
  border-color: #030b17;
}
.container .card .info .color-container .color[color=red] {
  background: linear-gradient(to left, #f0f3f7 50%, #ba0e0e 50%);
  border-color: #ba0e0e;
}
.container .card .info .color-container .color[color=white] {
  background-color: #f0f3f7;
  border-color: #f0f3f7;
}
.container .card .info .color-container .color[color=yellow] {
  background-color: #f6ff00;
  border-color: #f6ff00;
}
.container .card .info .color-container .colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.container .card .info .color-container .colors .active {
  border-color: #fff;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.container .card .info .size-container {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
  margin-bottom: 10px;
}
.container .card .info .size-container .sizes {
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.container .card .info .size-container .sizes .active {
  background-color: var(--primary);
  color: #fff;
}
.container .card .info .size-container .sizes .size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.container .card .info .buy-price {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .card .info .buy-price .buy {
  padding: 0.7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.5s;
}
.container .card .info .buy-price .buy:hover {
  transform: scale(1.1);
}
.container .card .info .buy-price .buy i {
  margin-right: 2px;
}
.container .card .info .buy-price .price {
  color: #333;
  display: flex;
  align-items: flex-start;
}
.container .card .info .buy-price .price h1 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}
.container .card .info .buy-price .price i {
  font-size: 1.4rem;
  margin-right: 1px;
}
.container .card .shoeName {
  padding: 0 0 10px 0;
}
.container .card .shoeName div {
  display: flex;
  align-items: center;
}
.container .card .shoeName div .big {
  margin-right: 10px;
  font-size: 2rem;
  color: #333;
  line-height: 1;
}
.container .card .shoeName div .new {
  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
}
.container .card .shoeName div .small {
  font-weight: 400;
  color: #444;
  margin-top: 3px;
  text-transform: capitalize;
}
.container .card .shoeName div .description {
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.container .card .shoeName div .description .title {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.container .card .shoeName div .description .text {
  color: #555;
  font-size: 17px;
}
.container .card .shoeBackground {
  position: relative;
  width: 50%;
  height: 475px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1), 0 15px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.container .card .shoeBackground .gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.container .card .shoeBackground .gradients .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}
.container .card .shoeBackground .gradients .gradient[color=blue] {
  background-image: linear-gradient(45deg, #0136af, #22abfa);
}
.container .card .shoeBackground .gradients .gradient[color=black] {
  background-image: linear-gradient(45deg, #28313b, #485461);
}
.container .card .shoeBackground .gradients .gradient[color=red] {
  background-image: linear-gradient(45deg, #d62926, #ee625f);
}
.container .card .shoeBackground .gradients .gradient[color=white] {
  background-image: linear-gradient(45deg, #8693ab, #bdd4e7);
}
.container .card .shoeBackground .gradients .gradient[color=yellow] {
  background-image: linear-gradient(45deg, #ffdd00, #fbb034);
}
.container .card .shoeBackground .logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}
.container .card .shoeBackground .share {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: 0.5s;
}
.container .card .shoeBackground .share:hover {
  transform: scale(1.1);
}
.container .card .shoeBackground .share i {
  line-height: 50px;
}
.container .card .shoeBackground .nike {
  position: absolute;
  top: 85px;
  left: 15px;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
  opacity: 0.1;
}

.first {
  z-index: 0 !important;
  -webkit-animation: 1.2s width ease;
          animation: 1.2s width ease;
}

@-webkit-keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */